# Ép pip tìm kiếm các gói có hỗ trợ CUDA 12.1
--extra-index-url https://download.pytorch.org/whl/cu118

torch
tqdm
tensorboard
torchmetrics
sacrebleu
sentence-transformers
bpemb
sacremoses
pyvi
fugashi
unidic-lite
tokenizers
datasets